<section class="card">
  <a href="/api/article/{{id}}">
    <header>{{article_title}}</header>
    <p class="article-mini-author">Posted by: {{author}}</p>
    <p>{{created_at}}</p>
    {{!-- <p>{{description}}</p> --}}
  </a>
</section>
