<div class="dish-card">
  <div class="dish-card-header">
    {{article_title}}
  </div>
  <div class="card-body">
    <p>
      {{description}}
    </p>
    <p>
      Author:
      {{author}}
      {{timestamp}}
    </p>
    {{#each article.comment as |comment|}}
    {{> comment-details}}}
    {{/each}}
  </div>
</div>

<!-- This is the form for updating a dish. According to MVC framework, what is this form responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
<!--What isn't it responsible for? -->
<!--It is not responsible for data-related logic, requests, or business-logic. -->


<div class="edit-dish-container">
  <h2>Add a comment!</h2>
  <form class="edit-dish-form">
    <label for="description">
     Comment body:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-dish.js"></script>



{{!-- <div class="edit-dish-container">
  <h2>Add a comment </h2>
  <form class="edit-dish-form">
    <label for="article_title">
      Dish Name:
    </label>
    <br />
    <textarea id="article_title" name="article_title" rows="2" cols="30">
      {{article_title}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-dish.js"></script> --}}