{{!-- SHOW ORIGINAL ARTICLE --}}
<div class="">
  <div class="article-card">
    <div class="article-card-header">
      {{article.article_title}}
    </div>
    <div class="card-body">
      <p>
        {{article.description}}
      </p>
      <p>
        Author:
        {{article.author}}
        {{article.updatedAt}}
      </p>
      {{#each article.comment as |comment|}}
      {{> comment-details}}
      {{/each}}
    </div>
  </div>

  {{#if loggedIn}}
  {{!-- EDIT ARTICLE --}}
  <div class="add-article-container">
    <h2>Edit a post</h2>
    <form class="edit-article-form">
      <label for="article_title">
        Title:
      </label>
      <br />
      <textarea id="article_title" name="article_title" rows="2" cols="30">
      {{article.article_title}}
    </textarea>
      <br />
      <label for="description">
        Description:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{article.description}}
    </textarea>
      <br />
      <button class="btn btn-primary" type="submit" value="Submit">
        Submit
      </button>
    </form>
    <div class="form-group delete-article-form">
      <button class="btn btn-primary" type="delete" value="delete">
        Delete this Post
      </button>
    </div>
  </div>
  <script src="../utils/delete-article.js"></script>
  <script src="../utils/edit-article.js"></script>
  {{/if}}

  {{!-- COMMENTS --}}
  <div class="article-card">
    <div class="card-body">
      {{#each article.comments as |comment|}}
      {{> comment-details}}
      {{/each}}
    </div>
  </div>