<div class="">
  <div class="article-card">
    <div class="article-card-header">
      {{article.article_title}}
    </div>
    <div class="card-body">
      <p>
        {{article.description}}
      </p>
      <p class="article-author"> Author: {{article.author}}</p>
      <p class="article-time">{{article.updatedAt}}</p>

      {{#each article.comment as |comment|}}
      {{> comment-details}}
      {{/each}}
    </div>
  </div>


  <div class="article-card">
    <div class="card-body">
      {{#each article.comments as |comment|}}
      {{> comment-details}}
      {{/each}}
    </div>
  </div>

  <!-- This is the form for updating a article. According to MVC framework, what is this form responsible for? -->
  <!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
  <!--What isn't it responsible for? -->
  <!--It is not responsible for data-related logic, requests, or business-logic. -->

  {{#if loggedIn}}
  <div class="edit-article-container">
    <h2 class="custom-h2">Add a comment!</h2>
    <form class="add-comment-form">
      <label for="description">
        Comment body:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br />
      <div class="hidden">
        <p class="logged-info">Username: <span id="username">{{username}}</span></p>
        <p class="logged-info">Id: <span id="userid">{{userid}}</span></p>
      </div>
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>
<script src="/js/add-comment.js"></script>
{{/if}}